.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Raleway", sans-serif;
    background-color: #f5f8ff;
}

header{
    background-image: url('Assets/Hero-bg.png');
    background-size: cover;
    background-position: center;
}

/* navbar style */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
}

.signup-btn{
    padding: 12px 36px;
    background-color: rgba(78, 71, 255, 1);
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

.signup-btn:hover{
    background-color: rgba(71, 201, 255, 1);
    transform: scale(1.05);
}


/* banner style */
.banner{
    text-align: center;
    padding: 100px 20px;
}

.banner h1{
    font-size: 65px;
    font-weight: bold;
    margin-bottom: 37px;
    padding-left: 200px;
    padding-right: 200px;
}

.focus-btn{
    padding: 12px 26px;
    background-color: rgba(78, 71, 255, 1);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    transition: all 0.3s ease;
}

.focus-btn:hover{
    background-color: rgba(71, 201, 255, 1);
    transform: scale(1.05);
}


/* action section style*/

.action {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 116px;
}

.action-left {
  max-width: 50%;
}

.action-left h2 {
  font-size: 42px;
  font-weight: bold;
  margin-bottom: 23px;
}

.action-left p {
  font-size: 24px;
  color: rgba(37, 36, 50, 0.5);
  margin-bottom: 23px;
}

.preview-btn {
  padding: 10px 20px;
  background-color: rgba(78, 71, 255, 1);
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.preview-btn:hover{
  background-color: rgba(71, 201, 255, 1);
  transform: scale(1.05);
}

.action-right img {
  max-width: 100%;
  border-radius: 48px;
}


/* productive user style */

.users {
  text-align: center;
  background-color: rgba(78, 71, 255, 0.1);
  border-radius: 24px;
  padding: 50px 142px;
  margin: 116px;
}

.users h2 {
  font-size: 38px;
  font-weight: bold;
  margin-bottom: 40px;
}

.user-stats {
  display: flex;
  justify-content: center;
  gap: 161px;
}

.stat h3 {
  font-size: 40px;
  font-family: sans-serif;
  font-weight: bold;
  color: #4E47FF;
}

.stat p {
  font-size: 10px;
  color: rgba(0, 0, 0, 0.5);
}


/* lets get in touch section */

.contact {
  display: flex;
  justify-content: space-between;
  margin: 150px;
  gap: 115px;
}

.contact-left {
  padding-top: 100px;
  text-align: center;
}

.contact-left h2 {
  font-size: 66px;
  font-weight: bold;
}

.contact-right {
  flex: 2;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

form label {
  font-weight: bold;
}

form input, form textarea {
  padding: 10px;
  border: 1px solid rgba(214, 221, 237, 1);
  border-radius: 4px;
  width: 100%;
}

.contact-btn {
  padding: 10px 20px;
  background-color: #4a90e2;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 4px;
  transition: all 0.3s ease;
}

.contact-btn:hover{
    background-color: rgba(71, 201, 255, 1);
    transform: scale(1.05);
}


/* footer styles */


.footer {
  text-align: center;
  padding: 40px 20px;
  background-color: white;
}

.footer-subtitle {
  color: rgba(137, 135, 161, 1);
  max-width: 500px;
  margin: 0 auto 20px;
  font-size: 16px;
  line-height: 1.6;
}

.footer-links a {
  margin: 0 12px;
  color: rgba(137, 135, 161, 1);
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s;
}

.footer-links a:hover {
  color: rgba(78, 71, 255, 1);
  text-decoration: underline;
}

/* feedback section styles */

.feedback {
  padding: 60px 20px;
  text-align: center;
}

.feedback-title {
  font-size: 42px;
  font-weight: bold;
  margin-bottom: 40px;
  color: rgba(37, 36, 50, 1);
}

.feedback-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.feedback-card {
  background: white;
  padding: 20px;
  width: 280px;
  border-radius: 14px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.06);
  text-align: left;
}

.stars {
  margin-bottom: 10px;
}

.star-img {
  width: 18px;
  height: 18px;
  margin-right: 2px;
}

.feedback-subtitle {
  font-size: 24px;
  font-weight: 600;
  color: #333;
  margin-bottom: 5px;
}

.feedback-text {
  font-size: 16px;
  color: rgba(30, 30, 30, 1);
  margin-bottom: 15px;
}

.reviewer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.reviewer-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.reviewer-name {
  font-size: 16px;
  font-weight: 600px;
  margin: 0;
  color: rgba(117, 117, 117, 1);
}

.review-date {
  font-size: 16px;
  color: rgba(179, 179, 179, 1);
  margin: 0;
}


